/build/
/build-*/
/out/
/install/
/consumer-build/
/analyze-log.txt
.vs/
.vscode/
*.user
*.suo
*.obj
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.idb
*.log
*.dmp
*.tmp
*.bak
*.swp
*.userosscache
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
compile_commands.json
Testing/
